p {
  color: green;
}

#titol {
  font-size: 36px;
  text-decoration: underline;
}

.text-important {
  color: red;
  font-weight: bold;
}

.vermell {
  color: red;
}

.gran {
  font-size: 24px;
}

.negreta {
  font-weight: bold;
}

.subratllat {
  text-decoration: underline;
}

ul li:first-child {
  color: red;
}

ul li:nth-child(2) {
  color: green;
}

ul li:last-child {
  color: blue;
}

a {
  color: gray;          
  text-decoration: none; 
}

a:hover {
  color: gold;
  cursor: pointer; 
}

p::before {
  content: "👉 ";
  color: blue;
}

p::after {
  content: " ✔";
  color: green;
}
