#titol {
  font-size: 30px;
  color: rgb(46, 176, 216);
}

.text-important {
  font-weight: bold;
}

.gran {
  font-size: 20px;
}
.negreta {
  font-weight: bold;
}
.subratllat {
  text-decoration: underline;
}

ul li:first-child {
  color: red;
}

ul li:nth-child(2) {
  color: green;
}

ul li:last-child {
  color: blue;
}

a {
  color: gray;          
  text-decoration: none; 
}

a:hover {
  color: darkgray; 
  cursor: pointer; 
}